<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cibus call center Simulation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        body {
        background-image: url("/static/images/bg4.png");
            color: white;
        }
        form {
            color: white;
    }

    </style>

</head>
<body>
<div class="center_element" style="background-color: transparent;justify-content: center;">
    <h2>Cibus Call Center Simulation</h2>
    <br>
    <img src="/static/images/cibus-removebg.png">
</div>
<div class="center_element" style="background-color: transparent;justify-content: center;">
    <h3>Parameters</h3>
    <br>
</div>
<br>
<div class="d-flex justify-content-center" style="background-color: transparent;">
        <table>
            <form action="/run_simulation" method="POST">

                {% for param, value in params.items() %}
                <tr class="spaceUnder">
                    <td>
                        <label style="color: white" for="{{ param }}">{{ param }}:</label>
                        {%- if ( (param == 'Blue-Collar Employees') or (param == 'High-Tech Employees') ) -%}
                            <input type="number" id="{{ param }}" name="{{ param }}" class="form-control" pattern="\d+" >
                        {% else %}
                        <select class="custom-select" name="{{ param }}" id="{{ param }}">
                            {% for option in value %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td><input class="btn btn-light" type="submit" value="Submit"></td>
                    <!--<td><input type="submit" value="Submit"></td>-->
                    <td></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>